$main_color: #ec4141;
$white_color: #d0d0d0;

// 测试
#main-songSheet-box {
  padding: 20px;

  #main-header-songSheet-box {
    display: flex;

    .header-cover-image-box {
      width: 250px;
      height: 250px;
      border-radius: 6px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }

    //歌曲介绍 (右边栏)
    .song-sheet-introduction-box {
      width: calc(100% - 270px);
      padding-left: 20px;

      //歌曲名称
      .song-name-box {
        width: calc(100% - 50px);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        display: flex;
        user-select: none;
        color: #d0d0d0;
        font-weight: 600;
        font-size: 30px;
        align-items: center;

        //图标
        .song-name-box-tag {
          background-color: rgba(0, 0, 0, 0.1);
          width: 50px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          color: $main_color;
          font-size: 13px;
          font-weight: 100;
          border-radius: 3.45px;
          margin-right: 5.25px;
          border: 1.2px solid $main_color;
        }
      }

      //创建者名称
      .song-name-creater-box {
        display: flex;
        padding-top: 10px;
        align-items: center;
        justify-content: space-between;

        .user-headPortrait-box {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          overflow: hidden;

          img {
            cursor: pointer;
            width: 100%;
            height: 100%;
          }
        }

        .user-info-main-box {
          padding-left: 15px;
          color: $white_color;
          font-size: 16.5px;
          user-select: none;
          transition: all 200ms ease-in-out;

          .user-name-main :nth-child(2):hover {
            color: #fff;
            cursor: pointer;
          }

          .upload-time-box {
            margin-top: 10px;
          }
        }
      }

      .tool-group-box {
        padding-top: 15px;
        padding: 40px;
        display: flex;

        .tool-child-box {
          display: flex;
          justify-content: center;
          transition: all ease-in-out 300ms;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          color: $white_color;
          text-align: center;
          line-height: 45px;
          overflow: hidden;
          cursor: pointer;
          user-select: none;
          margin-right: 15px;
        }

        .tool-child-box:hover {
          width: 90px;
          color: #fff;
          border-radius: 30px;
          box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
        }

        .play-icon {
          background-color: $main_color;
        }

        .collection-icon {
          background-color: rgba(0, 0, 0, 0.1);
          border: 1.2px solid #4a4a4a;
        }

        .share-icon-box {
          background-color: rgba(0, 0, 0, 0.1);
          border: 1.2px solid #4a4a4a;
        }

        .download-icon-box {
          background-color: rgba(0, 0, 0, 0.1);
          border: 1.2px solid #4a4a4a;
        }

        .tool-name-box {
          width: 0px;
          display: block;
          overflow: hidden;
        }
      }

      .main-song-tag-box {
        padding: 10px 0px;

        .song-tags-box {
          user-select: none;
          display: flex;
          color: $white_color;
          align-items: center;

          span {
            margin-right: 5px;
          }

          .tag-item-box {
            margin: 0px 5px;
            width: 60px;
            height: 25px;
            font-size: 14px;
            text-align: center;
            line-height: 25px;
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 6px;
            border: 1.2px solid #4a4a4a;
          }

          .tag-item-box:hover {
            color: #fff;
            cursor: pointer;
          }
        }
      }

      .songSheet-intro-main-box {
        color: $white_color;
        display: flex;

        span {
          user-select: none;
          width: 40px;
        }

        .content-box {
          word-wrap: break-word;
          transition: all ease 300ms;
          padding-left: 10px;
          width: calc(100% - 60px);
          height: 20px;
          overflow: hidden;
        }

        i {
          cursor: pointer;
          width: 20px;
          padding-left: 10px;
        }

        i:hover {
          color: #fff;
        }
      }
    }
  }

  .content-box-main {
    display: flex;

    .tab-box-left {
      width: 80%;
    }

    .subscribers-box {
      width: 250px;
      padding-top: 40px;


      .sub-title-header {
        color: $white_color;
        padding-bottom: 20px;
        font-size: 21px;
        text-align: center;
        user-select: none;
      }

      .subscribers-box-mainUl {
        list-style: none;
        display: flex;
        flex-wrap: wrap;


        li {
          user-select: none;
          width: 110px;
          text-align: center;
          margin-top: 0;
          color: $white_color;
          position: relative;
          height: 100px;

          img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: block;
            cursor: pointer;
            transition: all ease 250ms;
          }

          span {
            margin-top: 5px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            transition: all ease 250ms;
            margin-top: 65px;
          }

          img:hover {
            filter: blur(1px);
          }

          span:hover {
            cursor: pointer;
            color: #fff;
          }
        }
      }
    }
  }
}