.exclusive {
    display: flex;
    width: 100%;
    height: 240px;
    justify-content: space-between;
    padding-top: 10px;
}

.exclusive-item {
    position: relative;
    width: 345px;
    height: 245px;
    cursor: pointer;
    overflow: hidden;
    // border: 1px solid red;

}
.exclusive-item img {
    width: 345px;
    height: 190px;
    border-radius: $border_main_radius;
}
.exclusive-item span {
    transition: ease 200ms color;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: rgb(177, 168, 168);
    padding-top: 8px;
}
.exclusive-item:hover span {
    transition: 0.2s;
    color: #fff;
}
.player-img {
    border: 1px solid red;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    line-height: 25px;
    color: red;
    border-radius: 50%;
    // background-color: black;
}
