$border_radius:5.45px;

$defalut_text_color:#848484;
$white_color: #d0d0d0;
$transitionVal:all ease-in-out 250ms;

#main-song-list-box {
    padding: 10px 0px;

    // 顶部操作指示栏
    .song-list-edit-box {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        height: 40px;
        backdrop-filter: saturate(180%) blur(10px);
        background-color: hsla(0, 0%, 100%, 0.86);

        .ht-box {
            line-height: 40px;
            font-size: 13.5px;
            color: #848484;
            user-select: none;
        }

        .emit-box-null {
            width: 8%;
            text-align: center;
            line-height: 40px;

            i {
                cursor: pointer;
            }
        }

        .song-title-header {
            width: 42%;
            padding-right: 5px;
        }

        .song-author-header {
            width: 20%;
            padding-right: 5px;
        }

        .cover-header {
            width: 20%;
            padding-right: 5px;
        }

        .song-time-header {
            width: 10%;
        }
    }

    .main-list-show-box {
        border-bottom-left-radius: $border_radius;
        border-bottom-right-radius: $border_radius;
        overflow: hidden;
        font-weight: 600;
        font-size: 14px;

        .song-item-main-box {
            display: flex;
            width: 100%;

            .item-th-box {
                font-size: 14px;
                transition: $transitionVal;
                height: 70px;
                line-height: 70px;
            }

            .track-icon {
                user-select: none;
                text-align: center;
                width: 8%;
                color: $defalut_text_color;

                i {
                    cursor: pointer;
                }

                i:hover {
                    color: #000;
                }
            }

            .song-title-box {
                padding-right: 5px;
                color: #1f1f1f;
                width: 42%;
                overflow: hidden;
                display: flex;
                align-items: center;
                font-weight: 600;
                font-size: 14.5px;

                span {
                    cursor: pointer;
                    height: 100%;
                    width: calc(100% - 45px);
                    display: block;
                    user-select: none;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    overflow: hidden;
                    font-size: 12px;
                    transition: $transitionVal;
                }

                img {
                    margin-right: 10px;
                    width: 45px;
                    height: 45px;
                    border-radius: 3.45px;
                    overflow: hidden;
                    transition: $transitionVal;
                    cursor: pointer;
                }
            }

            .song-author-box {
                padding-right: 5px;
                width: 20%;
                user-select: none;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                color: $defalut_text_color;

                span:hover {
                    color: #000;
                    cursor: pointer;
                }
            }

            .song-cover-box {
                width: 20%;
                padding-right: 5px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                color: $defalut_text_color;
                user-select: none;
            }

            .song-cover-box span:hover {
                color: #000;
                cursor: pointer;
            }

            .song-time-box {
                width: 10%;
                user-select: none;
                color: $defalut_text_color;
            }
        }
    }

}

.show-more-btn {
    background-color: #335eea;
    text-align: center;
    width: 100px;
    height: 40px;
    margin: 10px auto;
    line-height: 40px;
    color: #fff;
    border-radius: 5.45px;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
    font-size: 13.5px;
    transition: width ease-in-out 200ms;
    box-shadow: 1px 1px 15px .5px rgba(51, 94, 234, .35);
}

.show-more-btn:hover {
    width: 120px;
}