$main_text_color:#d0d0d0;
$main_color:#ec4141;

#main-comment-out-box {
    padding-top: 15px;

    .new-comment-box {
        .title-box {
            user-select: none;
            color: $main_text_color;
            display: flex;
            align-items: center;

            .title-box-tag {
                margin-left: 10px;
                width: 40px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                color: #fff;
                border-radius: 4.5px;
                background-color: $main_color;
            }
        }

        .hot-comment-list-box {
            .hot-commit-item-noReplied {
                display: flex;
                align-items: center;
                margin: 12px 0px;
                padding: 10px;
                background-color: #373737;
                border-radius: 5.45px;
                overflow: hidden;

                img {
                    cursor: pointer;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }

                .hot-comment-item-content {
                    margin-left: 10px;
                    user-select: none;
                    width: calc(100% - 50px);

                    .fn-conetnt-box {
                        padding: 5px 0px;
                        font-size: 16px;
                        color: $main_text_color;
                        user-select: text;
                    }

                    .fn-content-other {
                        margin-top: 5px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .comment-time {
                            color: #666767;
                            font-size: 12.5px;
                        }

                        .thumbs-up-box {
                            color: #666767;

                            i {
                                cursor: pointer;
                            }

                            i:hover {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}