$main_color: #ec4141;

#main-out-songSheetList {
  overflow: hidden;

  .tag-name-title {
    font-size: 20px;
    font-weight: 600;
    color: #d0d0d0;
    user-select: none;
    margin-left: 18px;
  }

  .sheet-list-head {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1.2px solid #4a4a4a;

    .tag-item {
      width: 12.2%;
      height: 50px;
      border-radius: 25px;
      border: 1.2px solid #4a4a4a;
      line-height: 50px;
      display: flex;
      align-items: center;
      margin: 10px;
      justify-content: center;
      color: #d0d0d0;
      user-select: none;
      cursor: pointer;
      transition: all ease-in-out 200ms;

      img {
        margin-left: 10px;
        width: 30px;
        height: 30px;
        transition: all ease-in-out 200ms;
      }
    }

    .tag-item:hover {
      color: #ffffff;
      background-color: rgba(255, 255, 255, .3);
    }

    .tag-item:hover img {
      transform: rotate(28deg);
    }
  }
}

.sheet-item-main-box {
  position: relative;
  width: 230px;
  background-color: #333333;
  border-radius: 10px;
  padding: 10px;
  margin: 25px 0px;
  transition: all 200ms ease-in-out;
  cursor: pointer;

  img {
    border-radius: 6px;
    width: 100%;
    transition: all ease-in-out 200ms;
  }

  .sheet-item-de-box {
    color: #d0d0d0;
    user-select: none;
    font-size: 15px;
    padding: 18px 0px;
    transition: all ease-in-out 200ms;
  }

  .play-btn-box {
    width: 30px;
    height: 30px;
    line-height: 27px;
    background-color: rgba(255, 255, 255, .8);
    color: #ec4141;
    font-size: 25px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 0;
    right: 20px;
    opacity: 0;
    transition: all ease-in-out 500ms;
  }

  .create-date {
    text-align: right;
    font-size: 11px;
    color: #d0d0d0;
  }
}

.sheet-item-main-box:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, .5);
}

.sheet-item-main-box:hover .play-btn-box {
  opacity: 1;
}


.sheet-item-main-box:hover .sheet-item-de-box {
  color: #ffffff;
}

.main-conetnt-box {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.tagTanform {
  transform: rotate(28deg);
}

.banner-box {
  margin-top: 10px;
  width: 800%;
  display: flex;
  transition: all ease-in-out 380ms;
}


.main-item-banner-box {
  cursor: pointer;
  width: 100%;
  height: 180px;
  padding: 20px;
  padding-bottom: 0px;
  position: relative;
  overflow: hidden;
  z-index: 9999;
  margin: 0px 20px;
  margin-top: 25px;
  border-radius: 10px;

  .banner-bgc-box {
    width: 100%;
    height: 180%;
    z-index: 10;
    filter: blur(20px);
  }

  .mask-box-banner {
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;

    .banner-cover-box {
      display: flex;
      align-items: center;

      img {
        margin-left: 15px;
        width: 150px;
        border-radius: 10px;
        height: 150px;
      }

      .banner-info-box {
        margin-left: 10px;

        .banner-tag-box {
          width: 110px;
          height: 28px;
          border-radius: 45px;
          border: 2px solid #c2924f;
          color: #c2924f;
          text-align: center;
          line-height: 28px;
          font-size: 14PX;
          font-weight: 600;

          i {
            font-size: 16px;
          }
        }

        .banner-info-title {
          margin-top: 10px;
          color: #f0f0f0;
          font-size: 12.5px;
        }

        .banner-title-main-box {
          margin-top: 25px;
          color: #ffffff;
          font-weight: 550;
          font-size: 21px;
        }
      }
    }
  }
}

.dot-main-box {
  list-style: none;
  display: flex;
  pading: 10px;
  justify-content: center;
  align-items: center;

  li {
    width: 13px;
    height: 13px;
    margin: 0px 5px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;
    cursor: pointer;
    transition: all ease 250ms;
  }

  li:hover {
    background-color: $main_color;
  }
}