@import url("https://at.alicdn.com/t/font_2585248_lhay6omzt2b.css?spm=a313x.7781069.1998910419.41&file=font_2585248_lhay6omzt2b.css");

$heade_main_color: #202023;
$body_main_color: #2e2e2e;
$main_text_color: #d4d4d4;
$main_hover_color:#fff;
$border_main_radius: 10.45px;
$trastion_delay: 200ms;
$rgba_black:rgba(0,0,0,.65);

