@import url("//at.alicdn.com/t/font_2585248_0wxz7ew761r.css");
$main_height: 60px;

ul {
  list-style: none;
}

#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $main_height;
  backdrop-filter: saturate(180%) blur(10px);
  background-color: hsla(0, 0%, 100%, 0.86);
  z-index: 99999;
  display: flex;
  align-items: center;
  -webkit-app-region: drag;
  border-bottom: 1px solid #eaeaea;

  .logo-header-bxo {
    margin-left: 15px;
    height: 30px;
    width: 30px;
    position: relative;
    border-radius: 50%;
    background: linear-gradient(38deg, #ffc107, #e81123, #335eea);
    animation: 3s betaAnimationBgc 10s initial alternate;
    transform: scale(.9);
    text-align: center;
    color: rgba(235, 255, 245, 1);
    line-height: 30px;
    font-weight: 600;
    font-size: 15px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 18px;
      height: 18px;
    }

    i {
      opacity: .8;
    }
  }

  @keyframes betaAnimationBgc {
    0% {
      filter: hue-rotate(0);
    }

    100% {
      filter: hue-rotate(360deg);
    }
  }


  .btns-show-box {
    position: absolute;
    right: 10px;
    float: right;
    display: flex;
    align-items: center;


    .btn {
      text-align: center;
      width: 30px;
      height: 30px;
      line-height: 30px;
      color: #1f1f1f;
      cursor: pointer;
      -webkit-app-region: no-drag;
      margin: 5px;
      border-radius: 5.45px;

      i {
        font-size: 15px;
        font-weight: 900;
      }
    }

    .btn:hover {
      background-color: #335eea;
      color: #fff;
    }

    .close-btn:hover {
      background-color: #e81123;
      color: #fff;
    }
  }
}

.prow-with-love {
  img {
    width: 120px;
    margin-left: 10px;
  }
}


.router-show-box {
  display: flex;
  width: 70px;
  margin-left: 20px;
  justify-content: space-around;
  -webkit-app-region: no-drag;

  .arrow-box {
    justify-content: space-around;
    width: 35px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border-radius: 5.45px;
    color: #3a3a3a;
    cursor: pointer;
    user-select: none;

    i {
      font-size: 15px;
      font-weight: 600;
    }
  }

  .arrow-box:hover {
    background-color: #ccc;
  }
}

.seachbar {
  -webkit-app-region: no-drag;
  background-color: #eaeaea;
  width: 120px;
  height: 20px;
  border-radius: 0px;
  padding: 2.5px 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 250ms ease-in-out;
  box-shadow: 1px 1px 12px .5px rgba(0, 0, 0, .1);
  display: flex;
  align-items: center;
  justify-content: space-around;

  input {
    -webkit-app-region: no-drag;
    background-color: transparent;
    outline: none;
    border: none;
    width: 90%;
    height: 15px;
    z-index: 99;
  }

  i {
    cursor: pointer;
    user-select: none;
  }
}

.seach-listbox {
  width: 280px;
  padding: 15px;
  position: fixed;
  top: 70px;
  opacity: 1;
  left: 50%;
  background-color: hsla(0, 0%, 100%, 1);
  transform: translateX(-50%);
  box-shadow: 1px 1px 15px .4px rgba(0, 0, 0, .1);
  border-radius: 10px;
  z-index: 999;
  transition: all ease-in-out .350s;
  border: 1px solid #eaeaea;
}

.seach-listbox-hide {
  width: 280px;
  padding: 15px;
  position: fixed;
  top: -100%;
  opacity: 0;
  left: 50%;
  background-color: hsla(0, 0%, 100%, 1);
  transform: translateX(-50%);
  box-shadow: 1px 1px 15px .4px rgba(0, 0, 0, .1);
  border-radius: 10px;
  z-index: 999;
  transition: all ease-in-out .350s;
  border: 1px solid #eaeaea;
}


.seach-list-hide {
  animation: seachListHide .5s ease-in-out;
}

.seach-list-show {
  animation: seachListHide .5s ease-in-out;
}


@keyframes seachListShow {
  0% {
    top: -100%;
    opacity: 0;
    z-index: 0;
  }

  100% {}
}


@keyframes seachListHide {
  0% {
    top: 70px;
    opacity: 1;
    z-index: 1;
  }

  100% {
    top: -100%;
    opacity: 0;
    z-index: 0;
  }
}

.seach-first-item {
  display: flex;
  user-select: none;
  justify-content: space-between;
  padding: 2.5px 2.5px;
  border-bottom: 1px solid #eaeaea;
  font-weight: 600;
  align-items: center;
  border-radius: 5.45px;
  cursor: pointer;

  img {
    width: 80px;
    border-radius: 5.45px;
    height: 80px;
  }

  span {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
}

.seach-item {
  cursor: pointer;
  display: flex;
  user-select: none;
  font-size: 14px;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  padding: 2.5px 0px;

  img {
    width: 40px;
    height: 40px;
    border-radius: 5.45px;
  }

  span {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
}