#main-header {
    height: 24px;
    padding: 5px 10px;
    background-color: #f5f6f7 !important;
    display: flex;
    align-items: center;
    z-index: 2;
    -webkit-app-region: drag;

    .btns-show-box {
        display: flex;
        align-items: center;

        .out-btn-box {
            width: 25px;
            height: 25px;
        }

        .btn {
            text-align: center;
            width: 18px;
            height: 18px;
            line-height: 20px;
            background-color: #e7e7e7;
            border-radius: 50%;
            margin: 0px 10px;
            transition: all ease .2s;
            cursor: pointer;
            -webkit-app-region: no-drag;

            i {
                font-size: 12px;
                font-weight: 600;
            }
        }

        .min-btn {
            background-color: #69ca42;
        }

        .max-btn {
            background-color: #f7bc33;
        }


        .close-btn {
            background-color: #ea4f49;
        }
    }
}