@import url("//at.alicdn.com/t/font_2585248_0wxz7ew761r.css");
$main_height: 60px;

#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $main_height;
  backdrop-filter: saturate(180%) blur(10px);
  background-color: hsla(0, 0%, 100%, 0.86);
  z-index: 99999;
  display: flex;
  align-items: center;
  -webkit-app-region: drag;

  .logo-header-bxo {
    margin-left: 15px;
    height: 30px;
    width: 30px;
    position: relative;
    border-radius: 50%;
    background: linear-gradient(38deg, #ffc107, #e81123, #335eea);
    animation: 3s betaAnimationBgc 10s initial alternate;
    transform: scale(.9);
    text-align: center;
    color: rgba(235, 255, 245, 1);
    line-height: 30px;
    font-weight: 600;
    font-size: 15px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 18px;
      height: 18px;
    }

    i {
      opacity: .8;
    }
  }

  @keyframes betaAnimationBgc {
    0% {
      filter: hue-rotate(0);
    }

    100% {
      filter: hue-rotate(360deg);
    }
  }


  .btns-show-box {
    position: absolute;
    right: 10px;
    float: right;
    display: flex;
    align-items: center;


    .btn {
      text-align: center;
      width: 30px;
      height: 30px;
      line-height: 30px;
      color: #1f1f1f;
      cursor: pointer;
      -webkit-app-region: no-drag;
      margin: 5px;
      border-radius: 5.45px;

      i {
        font-size: 15px;
        font-weight: 900;
      }
    }

    .btn:hover {
      background-color: #335eea;
      color: #fff;
    }

    .close-btn:hover {
      background-color: #e81123;
      color: #fff;
    }
  }
}

.prow-with-love {
  img {
    width: 120px;
    margin-left: 10px;
  }
}


.router-show-box {
  display: flex;
  width: 70px;
  margin-left: 20px;
  justify-content: space-around;
  -webkit-app-region: no-drag;

  .arrow-box {
    justify-content: space-around;
    width: 35px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border-radius: 5.45px;
    color: #3a3a3a;
    cursor: pointer;
    user-select: none;

    i {
      font-size: 15px;
      font-weight: 600;
    }
  }

  .arrow-box:hover {
    background-color: #ccc;
  }
}